@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<<<<<<< HEAD
<p>Use this area to provide additional information. For Vinh2</p>
=======
<p>Use this area to provide additional information. For Vinh1</p>
>>>>>>> 85dc6ff4867a6744c13f5d641f77ecef8b4d5028
